body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Baloo 2', cursive;
 
}
h1{
  color: #5d6ba7;
}
::-webkit-scrollbar{
  background-color: #fafafa;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #5d6ba7;
  border-radius:100px;
}