
body, html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Baloo 2', cursive;
  
}
h1{
  color: #5d6ba7;
}
.imagem-de-fundo {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/img/fundo.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
}
::-webkit-scrollbar{
  background-color: #fafafa;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(127deg, rgba(120,135,201,1) 41%, rgba(51,61,110,1) 100%);
  border-radius:100px;
}

@media only screen and (max-width: 1200px){
  ::-webkit-scrollbar{
    background-color: #fafafa;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(127deg, rgba(120,135,201,1) 41%, rgba(51,61,110,1) 100%);
    border-radius:100px;
  }
 
}